<div class="jumbotron center">
<h1>I've found the most horrible color combination but I can't look away.</h1>
<p>Click here to <%= link_to "sign up!", "signup", class:"btn btn-primary btn-lg" %></p>
</div>

