<div class="jumbotron center">
  <h1>
    What's LiveTonight around you?
  </h1>
  <% if user_signed_in? %>
    # do something
  <% else %>
    <p>
    Click right here to <%= link_to "log in", "#", class:"btn btn-default btn-lg" %> 
    
    or

    <%= link_to "sign up!", new_user_registration_path, class:"btn btn-default btn-lg" %>
    </p>
  <% end %>
</div>

